@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

body {
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
}

h1 {
  color: #ddd;
}

.mainDiv {
  padding: 4rem;
  padding-top: 12rem;
}

a {
 color: #bbf; 
}

a:hover {
  color: #bbb;
}
