@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

html {
  height: 400%;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
}

h1, h2 {
  color: #bbb;
  font-weight: 500;
  text-variant: small-caps;
  padding-top: 8rem;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem;
}

.container {
  padding: 0;
  height: 25%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.resumeDiv {
  flex: 3;
  padding-left: 4rem;
  padding-right: 4rem;
}

.summaryDiv {
  clip-path: polygon(32% 0%, 0% 100%, 100% 100%, 100% 0%);
  background: #333;
  border-left: #ddd;
  text-align: right;
  padding: 0 2rem 0 4rem;
  height: 100%;
  width: 12rem;
  display: inline-block;
  align-self: flex-end;
  flex: 1;
}

.summaryDiv h2 {
  color: #ddd;
  
}

a {
  color: #bbc;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: #fff;
  font-weight: bold;
}

#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: #666;
  outline: none;
  background-color: #080808;
  color: #bbb;
  cursor: pointer; 
  padding: 15px;
  border-radius: 12px;
  font-size: 18px;
  transition-duration: 0.5s;
}

#btnTop:hover {
  background-color: #000;
}

#btnTop a {
  color: #bbb;
}

#btnTop a:hover {
  font-weight: 300;
  color: #fff;
}
