@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
}

h1, h2 {
  color: #bbb;
  font-weight: 500;
  text-variant: small-caps;
  margin-top: 12rem;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem;
}

.container {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition-duration: 1s;
}

.welcomeContainer {
  height: 100vh;
}

.resumeDiv {
  flex: 3;
  padding-left: 4rem;
  padding-right: 4rem;
}

.summaryDiv {
  clip-path: polygon(32% 0%, 0% 100%, 100% 100%, 100% 0%);
  background: #333;
  border-left: #ddd;
  text-align: right;
  padding: 0 2rem 0 4rem;
  height: 100vh;
  width: 12rem;
  position: fixed;
  right: 0;
  top: 0;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 1;
}

.summaryDiv h2 {
  color: #ddd;
  
}

a {
  color: #bbc;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: #fff;
  font-weight: bold;
}

#btnTop {  
  bottom: -3.2rem; /* normally 4.4rem */
  display: table-cell;
  opacity: 0;
  transition-duration: 0.5s;
}

#btnMenu {  
  bottom: 1rem;
  display: block;
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: rotate(0deg);
}

#btnTop, #btnMenu {
  position: fixed;
  right: 1rem;
  z-index: 99;
  cursor: pointer;
  outline: none;
  background-color: #111;
  color: #bbb;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  padding: 0.1rem;
  transition-duration: 0.25s;
  text-align: center;
  vertical-align: middle !important;
}

#btnTop:hover, #btnMenu:hover {
  background-color: radial-gradient(#383838, #282828);
}

#btnTop i, #btnMenu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 4px;
  transition-duration: 0.25s;
  font-weight: 300;
}

.btn-lg {
  font-size: 1.2rem;
}

.btn:hover {
  font-weight: 300;
}

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
  background: #222;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #222;
}

.btn-outline-blue {
  border: 1px solid #2573b8;
  color: #2573b8;
  background: #222;
}

.btn-outline-blue:hover {
  background-color: #2573b8;
  color: #fff;
}

.btn-outline-orange {
  border: 1px solid #f16600;
  color: #f16600;
  background: #222;
}

.btn-outline-orange:hover {
  background-color: #f16600;
  color: #fff;
}

.btn-outline-red {
  border: 1px solid #9f1d1d;
  color: #9f1d1d;
  background: #222;
}

.btn-outline-red:hover {
  background-color: #9f1d1d;
  color: #fff;
}

.separator {
  margin-right: 0.5rem;
}

.separator-line {
  border-right: 1px solid #bbb;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.copyright {
  font-weight: 100;
  color: #999;
  font-size: 0.8rem;
}

.logo {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  margin: 0.5rem;
  margin-left: 12rem;
  margin-top: 12rem;
  float: left;
  border-radius: 50%;
}

#end {
  margin-top: 4rem;
}

.tdf, .giro, .vuelta {
  border-radius: 8px;
  background: #222;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem;
  flex: 1 1 16rem;
  display: flex;
  flex-direction: column;
}

.tdf {  
  border: 1px solid #fc3;
  color: #fc3;
}

.giro {
  border: 1px solid #e8c;
  color: #e8c;
  
}

.vuelta {
  border: 1px solid #cc2626;
  color: #cc2626;
  
}

.countdown {
  font-size: 1.44rem;
  font-weight: bold;
  margin-top: 0;
  letter-spacing: 2px;
}

.cycling-countdowns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* CHRISTMAS */

@keyframes snowball {
  from{top:-8px;}
  to{top:calc(100vh);}
}

.snowball {
  position: fixed;
  z-index: 99;
  animation-name: snowball;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 8px;
  top: -8px;
}

.snowball-1 {
  left: 2%;
  animation-duration: 8s;
  animation-delay: 1.2s;
}

.snowball-1 {
  left: 4%;
  animation-duration: 8.2s;
  animation-delay: 1.6s;
}

.snowball-2 {
  left: 6.25%;
  animation-duration: 7.2s;
  animation-delay: -0.4s;
}

.snowball-3 {
  left: 12.5%;
  animation-duration: 8.7s;
  animation-delay: 0.8s;
}

.snowball-4 {
  left: 18.75%;
  animation-duration: 8.9s;
  animation-delay: 0.5s;
}

.snowball-5 {
  left: 25%;
  animation-duration: 6.5s;
  animation-delay: 0.2s;
}

.snowball-6 {
  left: 31.25%;
  animation-duration: 7.3s;
}

.snowball-7 {
  left: 37.5%;
  animation-duration: 7.6s;
  animation-delay: 0.6s;
}

.snowball-8 {
  left: 43.25%;
  animation-duration: 8s;
  animation-delay: 1.7s;
}

.snowball-9 {
  left: 50%;
  animation-duration: 9.4s;
  animation-delay: 3.2s;
}

.snowball-10 {
  left: 56.25%;
  animation-duration: 8.5s;
  animation-delay: 2.5s;
}

.snowball-11 {
  left: 62.5%;
  animation-duration: 7.3s;
  animation-delay: 0.1s;
}

.snowball-12 {
  left: 68.75%;
  animation-duration: 7.8s;
  animation-delay: -0.6s;
}

.snowball-13 {
  left: 75%;
  animation-duration: 8.8s;
  animation-delay: 2.7s;
}

.snowball-14 {
  left: 81.25%;
  animation-duration: 8s;
  animation-delay: 1.3s;
}

.snowball-15 {
  left: 87.5%;
  animation-duration: 9.1s;
  animation-delay: 0.2s;
}

.snowball-16 {
  left: 93.75%;
  animation-duration: 6.7s;
}

