@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
}

h1, h2 {
  color: #bbb;
  font-weight: 500;
  text-variant: small-caps;
  margin-top: 12rem;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem;
}

.container {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition-duration: 1s;
}

.welcomeContainer {
  height: 100vh;
}

.resumeDiv {
  flex: 3;
  padding-left: 4rem;
  padding-right: 4rem;
}

.summaryDiv {
  clip-path: polygon(32% 0%, 0% 100%, 100% 100%, 100% 0%);
  background: #333;
  border-left: #ddd;
  text-align: right;
  padding: 0 2rem 0 4rem;
  height: 100vh;
  width: 12rem;
  position: fixed;
  right: 0;
  top: 0;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 1;
}

.summaryDiv h2 {
  color: #ddd;
  
}

a {
  color: #bbc;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: #fff;
  font-weight: bold;
}

#btnTop {  
  bottom: 4.4rem;
  display: none;
}

#btnMenu {  
  bottom: 1rem;
  display: block;
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: rotate(0deg);
}

#btnTop, #btnMenu {
  position: fixed;
  right: 1rem;
  z-index: 99;
  cursor: pointer;
  outline: none;
  background-color: #111;
  color: #bbb;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  padding: 0.1rem;
  transition-duration: 0.25s;
  text-align: center;
  vertical-align: middle !important;
}

#btnTop:hover, #btnMenu:hover {
  background-color: radial-gradient(#383838, #282828);
}

#btnTop i, #btnMenu i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 4px;
  transition-duration: 0.25s;
  font-weight: 300;
}

.btn-lg {
  font-size: 1.2rem;
}

.btn:hover {
  font-weight: 300;
}

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
  background: #222;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #222;
}

.btn-outline-blue {
  border: 1px solid #2573b8;
  color: #2573b8;
  background: #222;
}

.btn-outline-blue:hover {
  background-color: #2573b8;
  color: #fff;
}

.btn-outline-orange {
  border: 1px solid #f16600;
  color: #f16600;
  background: #222;
}

.btn-outline-orange:hover {
  background-color: #f16600;
  color: #fff;
}

.btn-outline-red {
  border: 1px solid #9f1d1d;
  color: #9f1d1d;
  background: #222;
}

.btn-outline-red:hover {
  background-color: #9f1d1d;
  color: #fff;
}

.separator {
  margin-right: 0.5rem;
}

.separator-line {
  border-right: 1px solid #bbb;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.copyright {
  font-weight: 100;
  color: #999;
  font-size: 0.8rem;
}

.logo {
  height: 16rem;
  margin: 0.5rem;
  margin-left: 0;
  margin-top: 12rem;
  clip-path: circle(39%);
  float: left;
}

#end {
  margin-top: 4rem;
}

.tdf, .giro, .vuelta {
  border-radius: 8px;
  background: #222;
  width: 16rem;
  font-size: 1.2rem;
  text-align: center;
  transform: capitalize;
}

.tdf {  
  border: 1px solid #fc3;
  color: #fc3;
}

.giro {
  border: 1px solid #ec8;
  color: #ec8;
  
}

.vuelta {
  border: 1px solid #cc2626;
  color: #cc2626;
  
}
