@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

html {
  height: 100%;
}

body {
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  height: 100%;
}

h1, h2 {
  color: #bbb;
  font-weight: 500;
  text-variant: small-caps;
  padding: 4rem;
  padding-top: 8rem;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem;
}

p {
  padding-left: 4rem;
  paadding-right: 4rem;
}

.mainDiv {
  padding: 0;
}

.summaryDiv {
  clip-path: polygon(32% 0%, 0% 100%, 100% 100%, 100% 0%);
  background: #444;
  border-left: #ddd;
  text-align: right;
  padding: 1rem;
  height: 100%;
}

.summaryDiv h2 {
  color: #ddd;
}

a {
 color: #bbd;
 text-decoration: none;
}

a:hover {
  color: #bbb;
}
