@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #222;
  color: #fff;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
}

h1, h2 {
  color: #bbb;
  font-weight: 500;
  text-variant: small-caps;
  padding: 4rem;
  padding-top: 8rem;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 2rem;
}

p {
  padding-left: 4rem;
  paadding-right: 4rem;
}

.mainDiv {
  padding: 0;
  height: 100%;
  display: inline-block;
}

.summaryDiv {
  clip-path: polygon(32% 0%, 0% 100%, 100% 100%, 100% 0%);
  background: #444;
  border-left: #ddd;
  text-align: right;
  padding: 1rem;
  height: 100%;
  float: right;
  width: 12rem;
}

.summaryDiv h2 {
  color: #ddd;
}

a {
  color: #bbc;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: #ddd;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover::before {
  content: "> ";
}

a:hover::after {
  content: " <";
}
