.wave {
  border-bottom: 16px solid #2573b8;
  border-bottom-right-radius: 256px 64px;
  border-bottom-left-radius: 256px 32px;
  position: absolute;
  top: -16rem;
  height: 36rem;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  transform: rotate(-16deg);
}
