body {
  overflow: hidden;
  background: #2573b8;
}

.wave {
  border: 48px solid #5ad;
  border-bottom-right-radius: 48% 64%;
  border-bottom-left-radius: 32% 12%;
  position: absolute;
  top: -16rem;
  height: 36rem;
  width: 160%;
  left: -40%;
  padding: 0;
  margin: 0;
  transform: rotate(-16deg);
}
