#wave {
  height: 70px;
  width: 50%;
  background: #6bf;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 25%;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 25%;
  height: 70px;
  background-color: #6bf;
  left: 0;
  top: 27px;
}
