@font-face {
  font-family: "SourceSansPro";
  src: url("SourceSansPro-Regular.otf");
}

body {
  overflow-x: hidden;
  background: #2573b8;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  color: #fff;
}

.wave {
  border: 48px solid #5ad;
  border-bottom-right-radius: 48% 64%;
  border-bottom-left-radius: 32% 12%;
  position: absolute;
  top: -24rem;
  height: 40rem;
  width: 160%;
  left: -40%;
  padding: 0;
  margin: 0;
  transform: rotate(-16deg);
}

body div {
  margin: 1rem;
}
